body {
    background-color: rgb(255, 246, 247);
}

.cart-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 8rem;
}

h1, h2, button, .subtotal, input, .delivery {
    font-family: Unbounded;
}

h1 {
    font-size: 1.5rem;
    margin-bottom: 1.2em
}

h2 {
    font-size: 1.2rem
}

.cart-items {
    display: flex;
    justify-content: space-around;
    gap: 6em
}

/* .product-img {
    width: 15%
} */

button, input {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.cart-item-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 2em 0
}

.count-handler {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.count-handler input {
    width: 2rem;
    text-indent: 0.6rem;
}

button:hover, .cart-item-amount:hover {
    color: darkolivegreen;
}

.checkout button {
    cursor: pointer;
}

.checkout {
    margin: 1em 0;
    display: flex;
    gap: 2em;
}

.delivery {
    margin-top: 1em;
    font-weight: lighter;
}